.header {
  width: calc(100% - 8.6vw);
  padding: 0px 4.3vw;
  height: 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  background: linear-gradient(to bottom, #000000ff 0%, #00000055 100%);
  z-index: 10;

  @media only screen and (max-width: 1024px) {
    width: calc(100% - 2vw);
    padding: 0px 1vw;
  }

  @media only screen and (max-width: 600px) {
    width: 100%;
    padding: 0px 0px;
  }

  .left {
    margin-inline-start: 5%;
    color: white;
    font-size: 25px;

    @media only screen and (max-width: 1024px) {
      margin-inline-start: 0%;
    }

    img {
      padding-top: 19px;
      width: 208px;

      @media only screen and (max-width: 1024px) {
        width: 150px;
      }
    }
  }

  .right {
    margin-top: 4px;
    margin-right: 5.4vw;
    color: #fff;
    padding: 0 10px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 35px;

    @media only screen and (max-width: 1024px) {
      gap: 20px;
    }

    .menu {
      font-family: "Montserrat";
      font-size: 15px;
      cursor: pointer;
    }

    // .iekbcc0 {
    //   font-size: 15px;
    //   font-family: "Barlow", sans-serif;
    //   color: white;

    //   .ju367vc0 {
    //     background: none;
    //     border: none;
    //   }

    //   button {
    //     border-radius: 5px;
    //     padding: 0 15px;
    //     background-image: linear-gradient(to right, #7a0fff 0%, #46bdf4 100%);
    //     font-weight: 700;
    //     text-align: center;

    //     &:hover {
    //       box-shadow: 0 0 15px #ffffff;
    //       transform: none;
    //       transition: 0.2s all;
    //     }
    //   }

    //   button:nth-child(1) {
    //     display: none;
    //   }
    // }

    .iekbcc0 {
      .ju367vc0 {
        background: none;
        border: none;
      }

      button {
        border-radius: 4px;
        padding: 0 10px;
        background-image: linear-gradient(to right, #7a0fff 0%, #46bdf4 100%);
        line-height: 30px;
        font-family: "Barlow", sans-serif;
        font-weight: 700;
        text-align: center;

        &:hover {
          box-shadow: 0 0 15px #ffffff;
          transform: none;
          transition: 0.2s all;
        }
      }
    }

    button {
      border-radius: 4px;
      padding: 5px 10px;
      background-image: linear-gradient(to right, #7a0fff 0%, #46bdf4 100%);
      font-size: 15px;
      line-height: 30px;
      font-family: 'Barlow', sans-serif;
      font-weight: 700;
      color: #fff;
      text-align: center;

      &:hover {
          box-shadow: 0 0 15px #ffffff;
          transform: none;
          transition: .2s all;
      }
  }
  }
}
